* {
    box-sizing: border-box;
    /*border: solid 2px tomato;*/

}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
#welcome {
    padding: 100px 10%;
    text-align: center;
}
#welcome h2 {
    margin: 0;
}
#welcome p {
    margin: 50px auto;
    width: 70%;
}
#welcome img {
    width: 100%;
}
#what_we_do {
    text-align: center;
    padding: 5%;
    padding-top: 0;
}
#what_we_do .container_flex {
    display: flex;
    flex-wrap: wrap;
}
#what_we_do .item_flex {
    width: 25%;
    padding: 20px;
}
#what_we_do img {
    border-radius: 50%;
}
#what_we_do p {
    color:gray;
}
header {
    background-image: url(./img/1.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    height: 100vh;
    color: white;
}
header > #logo {
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 20px;
}
header > nav {
    
    float: right;
    margin-right: 50px;
}
nav > ul {
    display: flex;
    justify-content:space-around;
    left: 50%;
    width: 100%;
    color: #fff;
    text-align: center;
    list-style: none;
    padding: 0;
    overflow:auto;
    
}
nav li {
    display: flex;
    font-size: 24px;
    width: 30%;
    margin: 0 5px;
    
    border-radius: 10%;
    float:left;
    list-style-type: none;
}
.bg-white {
    background-color: white;
    color: #000;
}
.text-yeallow {
    color:#ff9900;
}
nav a {
    color:#fff;
    padding: 15px;
    display: block;
}
/*input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}*/
#main_header {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main_header h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
#main_header p {
    color: white;
}
#main_header a {
    border: solid 2px white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    display: inline-block;
}
#label_list {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);

}
#label_list > label {
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    background: white;
}
#statistic {
    color: white;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    padding: 50px;
}
.container{
    padding: 20px;
    margin: auto;
    overflow: auto;
}
#statistic .container div {
    float: left;
    width: 25%;
    text-align: center;
}
#statistic h2 {
    text-align: center;
    font-size: 70px;
}
#statistic p {
    color: white;
    margin: 0;
}
#statistic p:first-child {
    font-size: 50px;
}
#services {
    background-color: #f8f9fa;
    padding: 100px;
}

#services #left {
    width: 33%;
    float: left;
    padding: 0 50px;
}

#services #left p {
    line-height: 2.5;
}

#services h2 {
    margin-top: 0;
    text-align: left;
}
#services #right {
    width: 67%;
    float: left;
}

#services .item {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 3%;
    padding: 50px;
    float: left;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
}

#services .item i {
    color: #ff9900;
    font-size: 3em;
}
#services .item h3 {
    font-size: 2em;
}

#testimonials {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5%;
    display:block;
}
#testimonials .container_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#testimonials .item_flex {
    width: 33%;
    padding: 20px;
}
#testimonials img {
    border-radius: 50%;
}
#testimonials h3 {
    color:#ff9900;
    text-align: right;
}

#our_blog {
    padding: 100px;
    display:block;
}
.ob {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ob_item {
    width: 31%;
}

.ob-item:last-child {
    padding: 20px;
}
.ob_item .bottom {
    margin-top: -5px;
    border-radius: 2%;
    padding: 15px;
    border: solid 1px rgb(219, 219, 219);
    box-shadow: 10px 15px 20px 10px rgb(45 45 45 / 8%);
}
.ob_item .bottom a:first-child {
    font-size: 21px;
    font-weight: 400;
    color: black;
    display: inline-block;
}
.ob_readmore {
    color:  #ff9900;
    font-weight: 300;
}
#ob_blogs {
    border: solid 1px rgb(219, 219, 219);
    box-shadow: 10px 15px 20px 10px rgb(45 45 45 / 8%);
    border-radius: 2%;
}
.blog {
    padding: 15px;
}
.blog_tittle{
    font-size: 20px;
    font-weight: 300;
    color: #1f1f1f;
}
.blog_date {
    color: #ff9900;
    margin: 16px 0px;
}
#contact_us h3 {
    text-align: center;
    font-size: 40px;
}
.ct-us {
    padding: 40px 120px;
}
.ctus {
    width: 100%;
    padding: 0px 80px;
    display: flex;
    justify-content: space-around;
}
.ctus_left {
    width: 40%;
}
.ctus_left h4 {
    font-weight: inherit;
    text-align: left;
    color: #ff9900;
    font-size: 30px;
    margin-top: 0;
}
.ctu-row {
    display: flex;
    margin-bottom: 20px;
}
.ctu_icon {
    width: 20%;
    font-size: 30px;
}
.ctu_text p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 15px;
}
.ctus_right {
    width: 50%;
    padding: 2em;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 7px 7px 10px 0 rgb(56 56 56 / 21%);
}
form {
    display: block;
    margin-top: 0em;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #555;
    width: 100%;
    border: 1px solid #e6e6e6;
}
.fr-email {
    padding: 15px;
    min-height: 180px;
    font-size: 16px;
    color: #555;
    width: 100%;
    border: 1px solid #e6e6e6;
}
.ctus_right_button {
    width: 100%;
    padding: 15px;
    background-color: #fdb54b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    transition: all 0.4s;
}

#footer {
    width: 100%;
    height: 450px;
    padding: 50px 80px;
    background-color: #17181b;
}
.footer_row {
    display:flex;
    justify-content: space-evenly;
    height: 100%;
}
.footer_item {
    width: 20%;
    color:#fff;
}
.ft-title p {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
.ft-text p {
    font-size: 15px;
    color: #727377;
}
.contact-info-item h4 {
    font-weight: inherit;
    margin: 0;
    padding: 0;
}
.footer-item:last-child {
    width: 25%;
    color: #fff;
}
.mailbox {
    padding: 13px;
    font-size: 15px;
}
.email-button {
    padding: 15px 20px;
    font-size: 15px;
    color:#fff;
    margin-left: -5px;
    background-color: #c57600;
    border: none;
}
.social-medias {
    list-style: none;
    overflow: auto;
    padding-left: 0;
}
.social-medias li {
    float: left;
}